html,
body {
  font-family: "Poppins";
  height: 100%;
  overflow: auto;
}


.category {
  background: linear-gradient(to right,
      #8004044f, #c54e06a3, #c5b80aa1, #05953d9e, #009db5a6, #ff19c3a8);
  background-size: 400% 400%;
  animation: category 10s infinite ease-in-out;
}

@keyframes category {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.name { 
  margin-top: 2rem; 
  color: green; 
  text-align: center; 
} 
